.logo {
    margin-right: 1rem;
    /* width: 30px;
    height: 30px;
    background-image: url('/logo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}